:root {
	--primary-main: #2c2c2c;
	--primary-light: #393939;

	--secondary-main: #f06292;
	--secondary-dark: #ad1457;
	--secondary-light: #ad1457;

	--faded-white-8: rgba(255, 255, 255, 0.8);
	--faded-white-1: rgba(255, 255, 255, 0.1);

	--h1-font-size: 1.65rem;
	--h1-font-weight: 700;

	--h3-font-size: 1.25rem;
	--h3-font-weight: 700;

	--span-font-size: 0.875rem;

	--button-text-transform: none;
	--button-font-weight: 700;

	--button-hover-background-color: #343434;

	--border-radius: 30px;
}
